.titre {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding: 100px;
}
.hero {
    background-color: #322f2f;
    margin: 1000px;
    text-align: center;
}
.reso{
    background-color: #d2a83c;
    padding: 50px;
    margin-top: ;
}
a:hover
{
    color: rgb(234, 170, 60);
}
.h2{
    color: ;
}